<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probability Distribution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/column-view.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf-view.css') }}">
</head>
<body>
{% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
{% endif %}
<div class="page">

</div>

<h1>Data will be here</h1>
</body>
</html>
<footer>
    <script src= "{{url_for('static',filename='js/plugins/chartjs.min.js') }}"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/13.2.9/js/dx.chartjs.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</footer>
{% endblock %}