{% extends "base.html" %}
{% block title %}Create Session{% endblock %}
{% block content %}
    <h1 style="align-center" align="center">Update Assement and Treatment</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form action="" method="POST">

        <!--<button class="btn btn-danger button-form js-tooltip" title="" data-toggle="modal" data-target="#deleteModal"-->
                <!--data-original-title="Make a DELETE request on the Composite Instance resource">DELETE</button>-->
        <!--<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
              <!--<div class="modal-dialog">-->
                <!--<div class="modal-content">-->
                  <!--<div class="modal-body">-->
                    <!--<h4 class="text-center">Are you sure you want to delete this Composite Instance?</h4>-->
                  <!--</div>-->
                  <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                    <!--<form class="button-form" action="/composite/1/" data-method="DELETE">-->
                      <!--<button class="btn btn-danger">Delete</button>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
        <!--</div>-->
        <input type="hidden" id="session_id" name="session_id" value="{{data.id}}">
        <div class="form-group">
            <label for="player">Athlete Profile</label>
            <H3>{{player.player_name}}</H3>
        </div>

        <div class="form-group">
            <label for="peroneals_rle">Peroneals RLE</label>
            <input type="text" class="form-control" id="peroneals_rle" name="peroneals_rle"
            placeholder="Enter value" value="{{ data.peroneals_rle }}">
        </div>
        <div class="form-group">
            <label for="peroneals_lle">Peroneals LLE</label>
            <input type="text" class="form-control" id="peroneals_lle"
            name="peroneals_lle"
            placeholder="Enter value" value="{{ data.peroneals_lle }}">
        </div>
        <div class="form-group">
            <label for="med_gastro_rle">Med Gastro RLE</label>
            <input type="text" class="form-control" id="med_gastro_rle"
            name="med_gastro_rle"
            placeholder="Enter value" value="{{ data.med_gastro_rle }}">
        </div>
        <div class="form-group">
            <label for="med_gastro_lle">Med Gastro LLE</label>
            <input type="text" class="form-control" id="med_gastro_lle"
            name="med_gastro_lle"
            placeholder="Enter value" value="{{ data.med_gastro_lle }}">
        </div>
        <div class="form-group">
            <label for="tib_anterior_rle">Tib Anterior RLE</label>
            <input type="text" class="form-control" id="tib_anterior_rle"
            name="tib_anterior_rle"
            placeholder="Enter value" value="{{ data.tib_anterior_rle }}">
        </div>
        <div class="form-group">
            <label for="tib_anterior_lle">Tib Anterior LLE</label>
            <input type="text" class="form-control" id="tib_anterior_lle"
            name="tib_anterior_lle"
            placeholder="Enter value" value="{{ data.tib_anterior_lle }}">
        </div>
        <div class="form-group">
            <label for="lat_gastro_rle">Lat Gastro RLE</label>
            <input type="text" class="form-control" id="lat_gastro_rle"
            name="lat_gastro_rle"
            placeholder="Enter value" value="{{ data.lat_gastro_rle }}">
        </div>
        <div class="form-group">
            <label for="lat_gastro_lle">Lat Gastro LLE</label>
            <input type="text" class="form-control" id="lat_gastro_lle"
            name="lat_gastro_lle"
            placeholder="Enter value" value="{{ data.lat_gastro_lle }}">
        </div>
        <div class="form-group">
            <label for="assessment">Assessment</label>
            <textarea class="form-control" id="Assessment"
            name="assessment" placeholder="Enter value">{{ data.assessment }}</textarea>
        </div>
        <div class="form-group">
            <label for="treatment">Treatment</label>
            <textarea class="form-control" id="" name="treatment"
            placeholder="Enter value">{{ data.treatment }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

{% endblock %}

