{% extends "base.html" %}
{% block title %}Athlete Profiles{% endblock %}
{% block content %}
    <h1 style="align-center" align="center">Athlete Profiles</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Team</th>
                <th scope="col">Injury risk</th>
            </tr>
        </thead>
        <tbody>
            {% for player in data %}
                <tr class="align-middle">
                    <td><img src="{{ url_for('static', filename='placeholder.png') }}" alt="Profile image" height="50" width="50"></td>
                    <td><a href="{{ url_for('sessionsummary', player_id=player.id )}}">{{
                    player.player_name }}</a></td>

                    <td>{{ player.team.team_name }}</td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
