<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/now-ui-dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
    <!--<LINK rel="stylesheet" title="compact" href="{{ url_for('static', filename='css/pdf-view.css')}}">-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/column-view.css')}}" >-->

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content" class="container">{% block content %}{% endblock %}</div>
    <div id="footer" class="container">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
