{% extends "base.html" %}
{% block title %}Create Session{% endblock %}
{% block content %}
    <h1 style="align-center" align="center">Create Session</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form action="" method="POST">
        <div class="form-group">
            <label for="athlete_profile">Athlete Profile</label>
            <select class="form-control" id="athlete_profile" name="athlete_profile">
            {% for profile in athletes_profiles %}
                <option value="{{ profile.id }}">{{ profile.player_name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="injuries">High Risk Area</label>
            <select class="form-control" id="injuries" name="injuries">
                {%for injury in injuries%}
                    <option value="{{injury.id}}">{{injury.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="left_leg_length">Left Leg Length</label>
            <input type="text" class="form-control" id="left_leg_length" name="left_leg_length"
            placeholder="Enter value" value="{{ data.left_leg_length}}">
        </div>
        <div class="form-group">
            <label for="right_leg_length">right_leg_length</label>
            <input type="text" class="form-control" id="right_leg_length" name="right_leg_length"
            placeholder="Enter value" value="{{ data.right_leg_length }}">
        </div>
        <div class="form-group">
            <label for="post_medial_direction_rle">Posteromedial Direction RLE</label>
            <input type="text" class="form-control" id="post_medial_direction_rle"
            name="post_medial_direction_rle"
            placeholder="Enter value" value="{{ data.postmedial_direction_rle}}">
        </div>
        <div class="form-group">
            <label for="post_medial_direction_lle">Posteromedial Direction LLE</label>
            <input type="text" class="form-control" id="post_medial_direction_lle"
            name="post_medial_direction_lle"
            placeholder="Enter value" value="{{ data.postmedial_direction_lle}}">
        </div>
        <div class="form-group">
            <label for="ant_direction_rle">Anterior Direction Right Leg</label>
            <input type="text" class="form-control" id="ant_direction_rle"
            name="ant_direction_rle"
            placeholder="Enter value" value="{{ data.ant_direction_rle}}">
        </div>
        <div class="form-group">
            <label for="ant_direction_lle">Anterior Direction Left Leg</label>
            <input type="text" class="form-control" id="ant_direction_lle"
            name="ant_direction_lle"
            placeholder="Enter value" value="{{ data.ant_direction_lle}}">
        </div>
        <div class="form-group">
            <label for="post_lateral_direction_rle">Posteriolateral Direction Right Left Leg</label>
            <input type="float" class="form-control" id="post_lateral_direction_rle"
            name="post_lateral_direction_rle"
            placeholder="Enter value" value="{{ data.post_lateral_direction_rle }}">
        </div>
        <div class="form-group">
            <label for="post_lateral_direction_lle">Posterolateral Direction Left Leg</label>
            <input type="text" class="form-control" id="post_lateral_direction_lle"
            name="post_lateral_direction_lle"
            placeholder="Enter value" value="{{ data.post_lateral_direction_lle }}">
        </div>
        <div class="form-group">
            <label for="composite_score_rle">Composite Score Right Leg</label>
            <input type="text" class="form-control" id="composite_score_rle"
            name="composite_score_rle"
            placeholder="Enter value" value="{{ data.composite_score_rle}}">
        </div>

        <div class="form-group">
            <label for="composite_score_lle">Composite Score Left Leg</label>
            <input type="text" class="form-control" id="composite_score_lle"
            name="composite_score_lle"
            placeholder="Enter value" value="{{ data.composite_score_lle}}">
        </div>
        <div class="form-group">
            <label for="assessment">Assessment</label>
            <textarea class="form-control" id="Assessment"
            name="assessment" placeholder="Enter value">{{ data.assessment }}</textarea>
        </div>
        <div class="form-group">
            <label for="treatment">Treatment</label>
            <textarea class="form-control" id="treatment" name="treatment"
            placeholder="Enter value">{{ data.treatment }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}

