{% extends "base.html" %}
{% block title %}Login page{% endblock %}
{% block content %}
    <h1 style="align-center" align="center">Please login</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <!-- <div class="sidebar" data-color="primary">
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
            <!-- <div class="logo">
              <a href="" class="simple-text logo-mini">
                Rep.
              </a>
            </div>
            <div class="sidebar-wrapper">
              <ul class="nav">
                <li class="active ">
                  <a href="{{url_for('dashboard')}}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                  </a>
                </li>
                <li>
                  <a href="./icons.html">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Simulation</p>
                  </a>
                </li>
                <li>
                  <a href="./notifications.html">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Deep Anaylsis</p>
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('playerprofile') }}">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                  </a>
                </li>
                <li>
                  <a href="{{url_for('athletes')}}">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Shoe list</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>  -->
    <form action="" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
            name="username" placeholder="Enter username" value="{{ username }}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
            name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Login</p>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
    <body>
      <!-- Previously loaded Firebase SDKs -->
   
    </body>
{% endblock %}
