<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/column-view.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf-view.css') }}">
</head>
<body>
 {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
<div class="page">
    <div class="subpage">
        <div class="row gs-header gs-text-header">
            <div class="twelve columns padded">
                <h5>  Athlete Risk Report</h5>
            </div>
        </div>
        <div class="row">
            <a href="" class="tab first"> Overview</a>
            <a href="{{url_for( 'composite', player_id=player.id  )}}" class="tab">Composite Score</a>
            <a href="{{url_for('athletes')}}" class="tab">View Players</a>
            <a href="{{ url_for('trainer') }}" class="tab">Create Player</a>
        </div>
        <!--Row 3-->
        <div class="row">
            <div class="six columns">
                    <h6 class="gs-header gs-text-header padded"> Medical History</h6>
                <div class="row">
                    <div class="five columns">
                        <img src="{{ url_for('static', filename='placeholder.png') }}" alt="Profile image" height="150" width="150">
                    </div>
                    <div class="two columns padded ">
                        <strong>Name</strong><p> </p><p>Age</p><p>Position</p><p>Current Injury</p><p>Previous Injury</p>
                    </div>
                    <div class="five columns padded ">
                        <strong>{{player.player_name}}</strong><p> </p><p>{{player.user_age}}</p><p>Center</p><p>None</p><br><p class="two columns">Right Hamstring</p>
                    </div>

                <!--<h7 align="center"> {{player.player_name}}</h7>-->
                </div>   <!--<h7 align="center"> {{player.user_age}}</h7>-->
            </div>
            <div class="six columns">
                <h6 class="gs-header gs-text-header padded"> Injury Risk Score</h6>
                <div id="circularGaugeContainer" style="height:200px;margin:0 auto"></div>
            </div>
        </div>
        <!--Row 4-->
        <div class="row">
            <div class="six columns">
                <h6 class="gs-header gs-text-header padded"> Right Lower Extremity</h6>
                <div id="PlotlyCharts" style="height:300px"></div>
            </div>
            <div class="six columns">
                <h6 class="gs-header gs-text-header padded"> Left Lower Extremity</h6>
                <div id="LeftLowerExtremity" style="height:300px" ></div>
            </div>
        </div>
        <!--Row 5-->
        <div class="row">
            <div class="six columns">
                <h6 class="gs-header gs-text-header padded">Assessment </h6>
                <p>{{data.assessment}}</p>
            </div>
            <div class="six columns">
                <h6 class="gs-header gs-text-header padded"> Treatment</h6>
                <p>{{data.treatment}}</p>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script src= "{{url_for('static',filename='js/plugins/chartjs.min.js') }}"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/13.2.9/js/dx.chartjs.js"></script>

    <!--Right Leg Script Data-->
    <script>
        var trace1 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_rle[2]}}, {{data.tib_anterior_rle[2]}}, {{data.lat_gastro_rle[2]}}, {{data.med_gastro_rle[2]}}],
        name: 'Good',
        type: 'bar',
        marker :{ color:'rgba(0,128,0,0.6)',}
        };

        var trace2 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_rle[1]}}, {{data.tib_anterior_rle[1]}}, {{data.lat_gastro_rle[1]}}, {{data.med_gastro_rle[1]}}],
        name: 'Ok',
        type: 'bar',
        marker : {color: 'rgba(255,255,0,0.6)'}

        };

        var trace3 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_rle[0]}}, {{data.tib_anterior_rle[0]}}, {{data.lat_gastro_rle[0]}}, {{data.med_gastro_rle[0]}}],
        name: 'Bad',
        type: 'bar',
        marker : {color: 'rgba(255,0,0,0.6)'}
        };

        var data = [trace3, trace2, trace1];
        var layout = {
            barmode: 'stack',
            title: 'NeuroScore',
            yaxis: {title: 'Muscle Fatigue Duration'},
            xaxis: {title: 'Muscle Groups'},
        };

        Plotly.newPlot('PlotlyCharts', data, layout);
    </script>
    <!--Left leg javascript-->
    <script>
        var trace1 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_lle[2]}}, {{data.tib_anterior_lle[2]}}, {{data.lat_gastro_lle[2]}}, {{data.med_gastro_lle[2]}}],
        name: 'Good',
        type: 'bar',
        marker :{ color:'rgba(0,128,0,0.6)',}
        };

        var trace2 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_lle[1]}}, {{data.tib_anterior_lle[1]}}, {{data.lat_gastro_lle[1]}}, {{data.med_gastro_lle[1]}}],
        name: 'Ok',
        type: 'bar',
        marker : {color: 'rgba(255,255,0,0.6)'}
        };

        var trace3 = {
        x: ['Peroneals', 'Tib Anterior', 'Lat Gastro', 'Med Gastro'],
        y: [{{data.peroneals_lle[0]}}, {{data.tib_anterior_lle[0]}}, {{data.lat_gastro_lle[0]}}, {{data.med_gastro_lle[0]}}],
        name: 'Bad',
        type: 'bar',
        marker : {color: 'rgba(255,0,0,0.6)'}
        };

        var data = [trace3, trace2, trace1];
        var layout = {
            barmode: 'stack',
            title: 'NeuroScore',
            yaxis: {title: 'Muscle Fatigue Duration'},
            xaxis: {title: 'Muscle Groups'},

        };

        Plotly.newPlot('LeftLowerExtremity', data, layout);
    </script>
    <!--Injury Risk Report Javascript-->
    <script>
        $("#circularGaugeContainer").dxCircularGauge({
          rangeContainer: {
            offset: .5,
            ranges: [
              {startValue:0, endValue:89.6, color:'#FF0000'},
              { startValue: 89.6, endValue: 100, color: '#2DD700' }
            ]
          },
          scale: {
            startValue: 0,  endValue: 100,
            majorTick: { tickInterval: 20 },
            label: {

            }
          },
          title: {
            text: 'Injury Risk Potential',
            subtitle: 'test',
            position: 'top-center'
          },
          tooltip: {
                enabled: true,
                customizeText: function (arg) {
                    return 'Current ' + arg.valueText;
                }
            },
          subvalueIndicator: {
            type: 'textCloud',
            format: 'thousands',
            text: {
              customizeText: function (arg) {
                        return 'Goal ' + arg.valueText;
              }
            }
          },
          value: {{composite}},
          subvalues: [89.6]
        });
    </script>


</footer>
</html>
{% endblock %}