{% extends "base.html" %}
{% block title %}Trainer Page{% endblock %}
{% block content %}
    <h1 style="align-center" align="center">Welcome Trainer!</h1>
    <div class="list-group">
        <a href="{{ url_for('players') }}" class="list-group-item
        list-group-item-action">Create Player</a>
        <a href="{{ url_for('sessions') }}" class="list-group-item
        list-group-item-action">Upload Research Session</a>
        <a href="{{ url_for('upload_session') }}" class="list-group-item
        list-group-item-action">Upload Athlete Session</a>
        <a href="{{ url_for('createcomposite') }}" class="list-group-item
        list-group-item-action">Create Composite Score</a>
        <a href="{{url_for('upload_composite') }}" class="list-group-item
        list-group-item-action">Upload Composite via CSV</a>
         <a href="{{ url_for('athletes') }}" class="list-group-item
        list-group-item-action">View Players</a>
    </div>
    </div>
{% endblock %}
