{% extends "base.html" %}
{% block title %}Upload Session CSV data{% endblock %}
{% block content %}
<h1 style="align-center" align="center">Upload Sesison CSV data</h1>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="player">Athlete Profile</label>
        <select class="form-control" id="athlete_profile"
                name="athlete_profile">
            {% for profile in profiles %}
            <option value="{{ profile.id }}">{{ profile.player_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="file">Composite Score File</label>
        <input type="file" class="form-control" id="file" name="file">
    </div>
    <div class="form-group">
            <label for="assessment">Assessment</label>
            <textarea class="form-control" id="Assessment"
            name="assessment" placeholder="Enter value">{{ data.assessment }}</textarea>
    </div>
    <div class="form-group">
            <label for="treatment">Treatment</label>
            <textarea class="form-control" id="treatment"
            name="treatment" placeholder="Enter value">{{ data.treatment }}</textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}
